@use './variables' as *;
@use '../components/button';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $site-font-normal;
    // height: 100vh;
    // background-color: papayawhip;
    color: white;
    background-image: url('../assets/images/website-background.jpg');
    background-size:contain;
    background-position: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 6rem);
}
