@use './variables' as *;
@use '../components/button';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $site-font-normal;
    // height: 100vh;
    background-color: papayawhip;
}