@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.button {
    display: block;
    border-radius: 4px;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #323232;
    border: 2px solid #323232;
    text-transform: uppercase;

    &:hover {
        color: #D22D2D;
        border: 2px solid #D22D2D;
        transition: all .3s ease;
    }
}