@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.header {
    display: flex;
    // justify-content: center;
    justify-content: flex-end;
    align-items: center;
    

    &__nav {
        // height: 2rem;
        margin: 3rem;
    }

    &__link {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.450);
        color: #323232;

        &:hover {
            color: #f74747;
            border-bottom: 2px solid #D22D2D;
            font-family: $site-font-demi;
            background-color: rgba(255, 255, 255, 0.700);
            transition: all .3s ease;
        }
    }
}