@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.podcast {
    // width: 90vw;
    margin: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__latest-episodes {
        flex-basis: 100%;
        padding: .5rem 1rem;
        border-left: 2px solid #D22D2D;
        background-color: rgba(255, 255, 255, 0.500);
        color: #323232;
    }

    &__video-container {
        flex-basis: calc(20vw - 6rem);
    }
    
    &__video {
        
    }
    
    &__details-container {
        flex-basis: calc(50vw - 6rem);
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.800);
        color: #323232;

    }

    &__episode-title {

    }

    &__description {

    }
}