@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro - Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Demi.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro - Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
.button {
  display: block;
  border-radius: 4px;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #323232;
  border: 2px solid #323232;
  text-transform: uppercase;
}
.button:hover {
  color: #D22D2D;
  font-family: "Avenir Next LT Pro - Demi";
  border: 2px solid #D22D2D;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next LT Pro";
  color: white;
  background-image: url("../assets/images/website-background.jpg");
  background-size: contain;
  background-position: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 6rem);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__nav {
  margin: 3rem;
}
.header__link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.45);
  color: #323232;
}
.header__link:hover {
  color: #f74747;
  border-bottom: 2px solid #D22D2D;
  font-family: "Avenir Next LT Pro - Demi";
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.65);
  color: #323232;
  padding: 1rem;
  padding: 4rem 0;
}
.hero__title {
  font-family: "Avenir Next LT Pro - Demi";
  font-size: 3rem;
  letter-spacing: 5px;
  margin: 0;
}
.hero__subtitle {
  font-size: 1.125rem;
}

.podcast {
  margin: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.podcast__latest-episodes {
  flex-basis: 100%;
  padding: 0.5rem 1rem;
  border-left: 2px solid #D22D2D;
  background-color: rgba(255, 255, 255, 0.5);
  color: #323232;
}
.podcast__video-container {
  flex-basis: calc(20vw - 6rem);
}
.podcast__details-container {
  flex-basis: calc(50vw - 6rem);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #323232;
}
.podcast__episode-title {
  font-family: "Avenir Next LT Pro - Demi";
}
.podcast__description {
  line-height: 1.4;
}
.podcast:last-of-type {
  margin-top: 3rem;
}

.resources {
  margin: 3rem;
}
.resources__title {
  padding: 0.5rem 1rem;
  border-left: 2px solid #D22D2D;
  background-color: rgba(255, 255, 255, 0.5);
  color: #323232;
}
.resources__resource-container {
  background-color: rgba(255, 255, 255, 0.8);
  color: #323232;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resources__subtitle {
  font-size: 1.125rem;
}
.resources__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.resources__item {
  padding: 1.5rem 0;
  border-top: 1px solid #E1E1E1;
}
.resources__item:last-of-type {
  border-bottom: 1px solid #E1E1E1;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  color: #fff;
  height: 6rem;
}/*# sourceMappingURL=main.css.map */